body {
    height: 1024px;
    margin: 0 auto;
    background-color: white;
    color: navy;
    font-family: 'Libre Baskerville', serif;
}

header {
    background-color: #BCDAF7;
    font-size: 1.5em;
    color: navy;
    text-align: center;
    border-bottom: solid 2px coral;
    line-height: 2.5em;
    padding: 1.5em;
}

h2 {
    font-size: 1em;
    color: navy;
    text-align: center;
    line-height: 1em;
}

p {
    color: navy;
    line-height: 1em;
    padding: 1em;
   text-align: center;
    width: 18em;
    margin: 0 auto;
    padding-bottom: 2em;
}
.one {
    line-height: 4em;
     height: 7em;
    color: white;
    margin: 0 auto;
    padding: 1.25em;
    text-align: center;
}

@media screen and (min-width: 660px) {
   
    
}