body {
    height: 1024px;
    margin: 0 auto;
    background-color: white;
    color: navy;
    font-family: 'Libre Baskerville', serif;
}

header {
    background-color: #BCDAF7;
    font-size: 1.5em;
    color: navy;
    text-align: center;
    border-bottom: solid 2px coral;
    line-height: 2.5em;
    padding: 1.5em;
}

.project1 {
    background-color: #93E0F2;
    height: 100%;
}

.project2 {
    background-color: #5BAAF3;
    height: 100%;
}

.project3 {
    background-color: #143C69;
    color: white;
    height:100%;
    text-align: center;
    padding: 1.5em;
}

h2 {
    text-align: center;
}

p { 
line-height: 140%;
}


@media only screen and (min-width: 601px) {
    
.parent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
}

    .project1 {
    display: flex;
        align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0 auto;
}

.project2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    
    h2,
    p { 
    width: 100%;
        text-align: center;
    }

}


@media only screen and (min-width: 960px) {
 
.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
}
    .project1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50em;
    width: 30em;
}

.project2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    height: 50em;
    width: 25em;
}

.project3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:47em;
    width: 20em;
}
    
    p {
        margin-top: 20%;
        line-height: 180%;
    }
    
}