h4 {
    margin: 40px;
    margin-top: 50px;
    margin-bottom: 70px;
    width: 580px;
    border: solid navy;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 30px
}