* {
    margin:0;
    padding:0;
}

body {
    height: 1024px;
    width: 768px;
    margin: 0 auto;
    background-color: lightcoral;
    color: navy;
    font-family: 'Vidaloka', serif;
}

h1 {
    margin-top: 60px;
    margin-left: 40px;
    font-size: 90px;
    justify-content: center;
}

.container {
    margin: 0 auto;
    height: 1000px;
    width: 700px;
    border: dashed navy;
    background-color: white;
}

h2 {
    margin-top: 20px;
    margin-left: 70px;
    padding: 20px;
    width: 500px;
    font-size: 35px;
    text-align-last: center;
}

iframe {
   margin-left: 80px; 
}

h3 {
    
    border: solid navy 2px;
    padding: 20px;
    color: navy;
}

h4 {
    margin: 40px;
    margin-bottom: 50px;
    width: 580px;
    border: solid navy;
    border-radius: 10%;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: navy;
    line-height: 30px
}

li  {
    
    font-size: 16px;
    color: gold;
}


.buttons {
    width: 600px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:link   {
    color:gold;
}

a:visited {
    color: gold;
}


a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: red;
  color: white;
 padding-top: 22px;
}

.next {
  background-color: #4CAF50;
  color: white;
    padding-top: 22px;
}

.round {
  border-radius: 50%;
}