h4 {
    margin: 40px;
    width: 580px;
    border: solid navy;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 30px
}

h3 {
    margin-left: 275px;
}