body {
    height: 1024px;
    margin: 0 auto;
    background-color: white;
    color: coral;
    font-family: 'Libre Baskerville', serif;
}

header {
    background-color: #b4d7f6;
    font-size: 1.2em;
    color: white;
    text-align: center;
    border-bottom: solid 4px coral;
    line-height: 1em;
    margin: 0 auto;
    padding: 2em;
}

#hamburger-menu {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#hamburger-menu:hover {
    color: darkred;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

h1 {
    font-size: 1.5em;
}

header img {
    width: 16em;
    
}

p {
    font-family: 'Wire One', sans-serif;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    line-height: 140%;
    font-size: 1.5em;
    margin-bottom: 2em;
    margin-top: 1.5em;
}

.contact {
    margin: 0 auto;
    margin-left: 10%;
}


@media only screen and (min-width: 601px) {
  
    
    header img {
        width: 18em;
    }
    
    .contact {
           display: flex;
        margin-left: 20%;
    }
    
    }


@media only screen and (min-width: 960px) {
  
    
    header img {
        width: 20em;
    }
    
    .contact {
        margin-left: 30%;
    }
    
    }