body {
    height: 1024px;
    margin: 0 auto;
    background-color: white;
    color: navy;
    font-family: 'Libre Baskerville', serif;
}

header {
    background-color: midnightblue;
    font-size: 1.5em;
    color: white;
    text-align: center;
    border-bottom: solid 4px coral;
    line-height: 2.5em;
    padding: 1.5em;
}

.project1 {
    background-color: white;
    margin: 0 auto;
    

}

.project1 img {
    
    width: 100%;
    border: solid black .1em;
}

.project2,
.project4 {
    background-color: white;
    width: 100%;
}

.project2 img {
    width: 100%;
    border: solid black .1em;
}

.project4 img {
    width: 100%;
    border: solid black .1em;
}

h2 {
    text-align: center;
}

p { 
line-height: 140%;
text-align: center;
width: 70%;
margin: 0 auto;
margin-top: 1em;
font-family: 'Wire One', sans-serif;
font-size: 1.4em;
}


h3 {
    text-align: center;
    font-family: 'Wire One', sans-serif;
    font-size: 3em;
    width: 85%;
    margin: 0 auto;
    padding-top: 1em;
}

@media only screen and (min-width: 601px) {
    
.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}

    .project1,
    .project3 {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}
    
.project1 img,
.project3 img {
    width: 60%;
}

.project2,
.project4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
    
.project2 img,
.project4 img {
    width: 45%;
    height: 20em;
    margin: 0 auto;
    margin-top: 3em;
}

.project3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    
    h2,
    p { 
    width: 100%;
    text-align: center;
    }
    
    h2 {
        font-size: 3em;
    }
    
    p {
        background-color: white;
        font-size: 2em;
        width: 80%;
        margin: 0 auto;
        font-size: 1.7em;
        margin-top: 2em;
    }

}


@media only screen and (min-width: 960px) {
 
.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    margin: 0 auto;
}
    .project1,
    .project3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        margin: 0 auto;
    width: 35em;
}
    
     .project1 img {
        width: 100%;
        margin-top: 9%;
       
    }

.project2,
    .project4 {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-left: -2em;
    height: 50em;
    width: 25em;
}
    
    .project2 img {
        width: 23em;
        height: 30%;
        margin-left: -2em;
        margin-top: 3%;
    }
    
    .project4 img {
        width: 18em;
        height: 30%;
        margin-top: 1em;
    }
    
    h3 {
        margin-top: 2em;
        font-size: 3.5em;
    }
    
    p {
     
        margin-top: -8.2em;
    }
    
}