

body {
    height: 1024px;
    margin: 0 auto;
    background-color: white;
    color: navy;
    font-family: 'Libre Baskerville', serif;
}

header {
    background-color: #BCDAF7;
    color: white;
    margin: 0 auto;
    padding: 1.25em;
    border-bottom: lightcoral  solid;
    text-align: center;
    height: 29em;
        
}

 h1 {
        font-size: 2em;
        height: 1em;
        width: 100%
    }
    
    h2 {
        font-size: 1em;
        width: 100%;
}

p {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    margin-left: -1em;
}
    

a:link {
    color:navy;
}

a:visited {
    font-size: 16px;
    color: lightcoral;
}

h4 {
    color: black;
    font-size: 2em;
    text-align: center;
}


.one, 
.two {
    margin-top: 15%;
    margin-left: auto;
    margin-bottom: 15%;
    width: 80%;
    justify-content: space-around;
    }
    
@media screen and (min-width: 660px) {
    
    header {
        height: 22em;
    }
    
    .navbar {
        display: flex;
        margin-left: 35%;
    }
    
.one img,
.two img {
    height: 18em;
    width: 18em;
}
  body {
    background-color: white;
  }
    .one,
    .two {
        display: flex;
        margin-left: 10%;
        height: 20%;
    }
    
    h4 {
    font-size: 2.5em;
}

    
@media screen and (min-width: 960px) {
    header {
        height: 20em;
    }
  body {
    background-color: white;
  }
    
h4 {
    font-size: 3em;
}

    
.one img {
    width: 22em;
}
.two img {
    width: 22em;
}
}
    
    @media screen and (min-width: 1200px) {
    header {
        height: 20em;
     }
  body {
    background-color: white;
        }
h4 {
    font-size: 3.5em;
}

.one img,
        .two img {
    margin-top: 10%;
    width: 32em;
    height: 20em;
}
    }