body {
    height: 1024px;
    margin: 0 auto;
    background-color: white;
    color: navy;
    font-family: 'Libre Baskerville', serif;
}

header {
    
    background-color: midnightblue;
    font-size: 1.2em;
    color: white;
    text-align: center;
    border-bottom: solid 4px coral;
    line-height: 1em;
    margin: 0 auto;
}

header img {
    margin-top: 2em;
}

#hamburger-menu {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#hamburger-menu:hover {
    color: darkred;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


p,
li {
  text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 180%;
    font-family: 'Wire One', sans-serif;
    font-size: 1.3em;
}

p {
    margin-top: 40px;
}
    
a:visited {
    color: white;
}

a:link {
    color: white;
}

h2 {
    font-size: 1em;
    text-align: center;
}

.project1 {
    color: white;
    height:100%;
    text-align: center;
    padding: 2.5em;
    margin-top: 2em;
    box-shadow: navy 5px 9px 9px 6px;
}

.project2 {
    color: white;
    height:100%;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
    box-shadow: green 5px 9px 9px 6px;
}

.project3 {
    color: white;
    height:100%;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
    box-shadow: yellow 5px 9px 9px 6px;
}

.project4 {
    color: white;
    height:100%;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
    box-shadow: red 5px 9px 9px 6px;
}


@media only screen and (min-width: 601px) {
    
    h1,
    h2{ 
    text-align: left;
    }
    
    h1 {
        margin-top: 10%;
        font-size: 3em;
    }
    
    h2 {
        margin-left: 10%;
        font-size: 1.7em;
        margin-top: -2em;
        
    }
    
    
    .namepic {
        display: flex;
        justify-content: space-around;
    }
    
    header img {
        width: 30%;
        padding-bottom: 2em;
    }
    
    
.parent,
    .parent2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
}
    .project1,
    .project2 {
        margin-top: 3em;
        width: 300px;
    }
    
    p,
    li {
        font-size: 1.8em;
    }
    
    


@media only screen and (min-width: 960px) {
 
.parent,
    .parent2 {
    display: flex;
    flex-direction: row;
   align-items: stretch;
}

    .project1,
    .project2,
    .project3,
    .project4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        width: 35%;

}
    
    h1 {
        font-size: 4em;
    }
    
 
     h2 {
        margin-left: 12%;
         margin-top: -8%;
         font-size: 2em;
         padding-bottom: 2em;
         
    }

    
    header img {
        height: 16em;
    }
    
    p {
        line-height: 180%;
    }
    
     p,
    li {
        font-size: 2em;
    }
    
}