body {
    height: 1024px;
    margin: 0 auto;
    background-color: white;
    color: navy;
    font-family: 'Libre Baskerville', serif;
}

header {
    background-color: midnightblue;
    font-size: 1.2em;
    color: white;
    text-align: center;
    border-bottom: solid 4px coral;
    line-height: 1em;
    margin: 0 auto;
}

.navbar {
    margin-left: -2em;
}

p,
li {
  text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 180%;
    font-family: 'Wire One', sans-serif;
    font-size: 1.3em;
}

p {
    margin-top: 40px;
}
    
a:visited {
    color: white;
}

a:link {
    color: white;
}

h2 {
    font-size: 1em;
    text-align: center;
}

.project1 {
    color: white;
    height:100%;
    text-align: center;
    padding: 2.5em;
    margin-top: 2em;
    box-shadow: navy 5px 9px 9px 6px;
}

.project2 {
    color: white;
    height:100%;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
    box-shadow: green 5px 9px 9px 6px;
}

.project3 {
    color: white;
    height:100%;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
    box-shadow: yellow 5px 9px 9px 6px;
}

.project4 {
    color: white;
    height:100%;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
    box-shadow: red 5px 9px 9px 6px;
}


@media only screen and (min-width: 601px) {
    
    h1,
    h2{ 
    text-align: left;
    }
    
    h1 {
        margin-top: 10%;
        font-size: 3em;
    }
    
    h2 {
        margin-left: 10%;
        font-size: 1.7em;
        margin-top: -3em;
        
    }
    
    .navbar {
        display: flex;
        margin-left: 60%;
        margin-top: 100px;
        
    }
    
    .namepic {
        display: flex;
        justify-content: space-around;
    }
    
    header img {
        margin-top: 8%;
        width: 30%;
    }
    
    
.parent,
    .parent2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
}
    .project1,
    .project2 {
        margin-top: 3em;
        width: 300px;
    }
    
    p,
    li {
        font-size: 1.8em;
    }


@media only screen and (min-width: 960px) {
 
.parent,
    .parent2 {
    display: flex;
    flex-direction: row;
   align-items: stretch;
}

    .project1,
    .project2,
    .project3,
    .project4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        width: 35%;

}
    
    h1 {
        font-size: 4em;
    }
 
     h2 {
        margin-left: 12%;
         margin-top: -13%;
         font-size: 2em;
         
    }
    
    
     .navbar {
        display: flex;
        margin-left: 72%;
        margin-top: 13%;
         
        
    }
    
    header img {
        margin-top: 8%;
        height: 15em;
    }
    
    p {
        line-height: 180%;
    }
    
     p,
    li {
        font-size: 2em;
    }
    
}